node_modules
.DS_Store

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
/prisma/**/*.db
/prisma/**/*.db-journal
database.sqlite
*.db
*.db-journal

.env
.env.*

# Vite temporary files
**/*.tmp.*

/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock
shopify.app.toml

# Local Netlify folder
.netlify
